# --- Node.js ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
server/.env
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local

# --- Editores (VS Code, IntelliJ, etc.) ---
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# --- Sistema Operativo ---
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
desktop.ini

# --- Logs y Otros ---
logs
*.log
dist/
build/